{{- define "title" }}
    {{- .Title }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page single special">
        <h1 class="single-title animate__animated animate__pulse animate__faster">{{ .Title | emojify }}</h1>

        <div class="content" id="content">
            {{- with .Content }}{{ . }}{{ end -}}

            {{- $pages := .Pages -}}
            {{- range .Params.groups -}}
                {{- $title := .title -}}
                {{- $blurb := .blurb -}}
                {{- $inGroup := (where $pages "Params.group" .key).ByWeight -}}
                {{- with $inGroup -}}
                    <h3 id="{{ $title | anchorize }}">{{ $title }}</h3>
                    {{- with $blurb }}<p>{{ . }}</p>{{ end -}}
                    {{- range . -}}
                        <p><strong><a href="{{ .RelPermalink }}">{{ .Title | emojify }}</a></strong>{{ with .Description }} — {{ . }}{{ end }} <a href="{{ .RelPermalink }}">{{ T "readMore" }}</a></p>
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        </div>
    </div>
{{- end -}}
